<!-- ###LISTVIEW### start -->
	<div class="gig_list coming">
		<h2>###COMING_GIGS_HEADLINE###</h2>
		###COMING_GIGS_LIST###
	</div>

	<!-- ###PASSED_GIGS### start -->
	<div class="gig_list passed">
		<h2>###PASSED_GIGS_HEADLINE###</h2>
		###PASSED_GIGS_LIST###
	</div>
	<!-- ###PASSED_GIGS### end -->
<!-- ###LISTVIEW### end -->


<!--###GIG_LIST### start -->
	<ul class="listview">
	<!-- ###LISTVIEW_ENTRY### start -->
		<li>
			<a href="###SINGLE_URL###">
				<b>###DATE### - ###CITY###</b>
			</a><br />
			###TITLE###
			<!--###LOCATION###-->
			<!--###THUMBNAIL###-->
			
		</li>
	<!-- ###LISTVIEW_ENTRY### end -->
	</ul>
<!--###GIG_LIST### end-->




<!-- ###SINGLEVIEW### start -->
	<h2>###TITLE###</h2>
	<div class="singleview-entry">
		
		<div class="location">###DATE###, ###LOCATION###, ###CITY###</div>
		<div class="divider">&nbsp;</div>
		
		<!-- ###BLOCK_DESCRIPTION### start -->
		<div class="description">###DESCRIPTION###</div>
		<div class="divider">&nbsp;</div>
		<!-- ###BLOCK_DESCRIPTION### end -->
		
		<!-- ###BLOCK_MAP### start -->
		###MAPJS###
		###MAP###
		<div class="divider">&nbsp;</div>
		<!-- ###BLOCK_MAP### end -->
		
		<!-- ###BLOCK_FLYER### start -->
		<div class="flyer">###FLYER###</div>
		<div class="divider">&nbsp;</div>
		<!-- ###BLOCK_FLYER### end-->
		
		
		
		<span class="backlink">###BACKLINK_ICON### ###BACKLINK###</span>
		
	</div>
	
<!-- ###SINGLEVIEW### end -->