<!--###TEASERVIEW### start -->
	<h2>###TEASER_HEADLINE###</h2>
	<ul class="teaserview">
	<!-- ###TEASERVIEW_ENTRY### start -->
		<li>
			<a href="###SINGLE_URL###">
				<b>###DATE### - ###CITY###</b>
			</a><br />
			###TITLE###
			<!--###LOCATION###-->
			<!--###THUMBNAIL###-->
			
		</li>
	<!-- ###TEASERVIEW_ENTRY### end -->
	</ul>
<!--###TEASERVIEW### end-->